@import "./theme.css";
@import "./header.css";
@import "./main.css";
@import "./card.css"
    /* -------------------------------------------------------- */
    /* Global Styles */
    /* -------------------------------------------------------- */ *: : before,
  *: : after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}
.header {
  position: sticky;
  top: 0;
  background: var(--header-bg);
  color: var(--header-text);
  padding: 20px;
}

.header__title {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-bg);
  color: var(--card-text);
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  flex: 1 1 30%;
}

.card__title {
  margin: 0 0 10px 0;
}
